@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body
{
  background-color: rgb(128, 128, 128);
  background-image: url("background.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#NOTICE
{
  font-family: 'Noto Sans KR';
  font-weight: 300;
}
h1 /* for title */
{
  color: rgb(255, 255, 255);
  text-align: center;
}
h2 /* for menu */
{
  color: rgb(255, 255, 255);
  text-align: center;
}
#TITLE
{
  ;
}
#MENU
{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  
  margin-left: 180px;
  margin-right: 180px;
}
#LOWER
{
  display: grid;
  grid-template-columns: 150px 1fr;
  
  margin: 200px;
  margin-top: 75px;
}
.SUBMENU
{
  text-align: center;
  
  border: 2px rgba(255, 255, 255, 0.8) solid;
  padding: 10px;
}
.MAIN
{
  background-color: rgba(255, 255, 255, 0.8);
  
  padding: 20px;
}

@media(max-width:1200px)
{
  #MENU
  {
    margin-left: 100px;
    margin-right: 100px;
  }
  #LOWER
  {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media(max-width:900px)
{
  #MENU
  {
    margin-left: 20px;
    margin-right: 20px;
  }
  #LOWER
  {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media(max-width:600px)
{
  #MENU
  {
    margin-left: 0px;
    margin-right: 0px;
  }
  #LOWER
  {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media(max-width:450px)
{
  #MENU
  {
    display: block;
  }
  #LOWER
  {
    margin-left: 10px;
    margin-right: 10px;
  }
}
